.navLista {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.btn {
  float: left;
  border-right: 1px solid #bbb;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.btn:last-child {
  border-right: none;
}

/* Change the link color on hover */
.btn:hover {
  background-color: #ddd;
  color: black;
}

.btn.active {
  background-color: #2196f3;
  color: white;
}

.searchBar {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}
